# Pandas

In [24]:
import numpy as np
import pandas as pd

## Series

In [3]:
#Series is similar to numpy array
#Series can be accessed by labels

In [4]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [5]:
pd.Series(data=my_data)
#Series has Indices and Datapoints

0    10
1    20
2    30
dtype: int64

In [18]:
mySeries = pd.Series(data=my_data, index=labels)
#The Indices can be set separately
#short hand notation: 
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [19]:
mySeries['b']

20

In [11]:
#pd.Series can cast a numpy array, 
#exactly as np.array did with lists: 
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [12]:
#Given a dictionary, Pandas sets key as index and value as datapoint
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [15]:
#Series can hold 'anything' as datapoints, even functions: 
pd.Series(data=[sum, print, len, np.sqrt, np.pi])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
3               <ufunc 'sqrt'>
4                      3.14159
dtype: object

## Grab Information from Series:

In [16]:
ser1 = pd.Series([1,2,3,4], ['Apple', 'Banana', 'Orange', 'Blueberry'])

In [17]:
ser1

Apple        1
Banana       2
Orange       3
Blueberry    4
dtype: int64

In [21]:
ser1['Banana']

2

In [22]:
ser2 = pd.Series([3,2,1,5], ['Banana', 'Kiwi','Orange', 'Blueberry'])

In [23]:
ser1 + ser2
#Pandas adds values where Indices match
#No index-match results in NaN
#Numbers are converted into float to avoid information-loss

Apple        NaN
Banana       5.0
Blueberry    9.0
Kiwi         NaN
Orange       4.0
dtype: float64

## DataFrames

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D','E'],['W','X','Y','Z'])

In [9]:
df
#now we see a nice output of our random data
#each colum is a series, the colums/series share same index in rows

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [10]:
#Data type of a dataframe - DataFrame :D
type(df)

pandas.core.frame.DataFrame

In [6]:
#Grab data:
df['W'] # grab W-Colum with bracket notation

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
#A row is indeed a series: 
type(df['W'])

pandas.core.series.Series

In [11]:
#Grab colum as with sql: 
df.W #dot-Notation
#advice: don't use this, confuses with methods on dataframes

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [12]:
#Grab multiple colums with list of colum-names:
df[['X', 'Z']]

          X         Z
A  0.628133  0.503826
B -0.319318  0.605965
C  0.740122 -0.589001
D -0.758872  0.955057
E  1.978757  0.683509

In [13]:
#Creating new, non-existing, colum by arithmetic works
df['new'] = df['W'] + df['Y']

In [14]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [17]:
#delete Colum with the .drop method
#we need to specify axis: 
#axis refers to index
#axis = 0: for rows
#axis = 1: for colums

#reason for this: numpy-indexing of DataFrame:
#df.shape returns in our case (5,4) (after deletion)
#Tupel, so 2D-Matrix
#0-Index: Number of rows
#1-Index: Number of colums


#and we need to specify the inplace argument: 
#inplace=True: if you want those changes to stay

df.drop('new', axis=1, inplace=True)

In [18]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [21]:
#delete a row with same Method: 
df.drop('E', axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [22]:
df.shape

(5, 4)

In [ ]:
#Selecting colums by df['X']
#Selecting rows by